@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

/* --------- Signup/Login Form CSS ---------- */

main section.section-login {
    width: 100%;
    height: 100vh;
    /* background: url(https://rvs-gradie-signup-page.vercel.app/Assets/Background.png); */
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.section-login .section-main {
    width: 60%;
    height: auto;
    display: flex;
}

main section.section-login .section-main .section-login-1,
main section.section-login .section-login-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #36a9e2;
}

main section.section-login .section-main .section-login-1 .section-login-1-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-title {
    font-size: 32px;
    color: #fff;
}

main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-text {

    color: #ffffff;

    font-size: 18px;
}

main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-img {

    width: 100%;
}

main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-img img {

    width: 100%;

    display: block;
}


main section.section-login .section-main .section-login-2 .section-login-2-main {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 50px;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-title {
    font-size: 32px;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1 label,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2 label,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 label {
    font-weight: 500;
    font-size: 15px;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1 input,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2 input,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 input {
    padding: 12px 15px;
    border: 1px solid #e9e6e6;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 100%;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 {
    display: flex;
    column-gap: 7px;
    align-items: center;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p {
    font-size: 14px;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p a,
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p span {
    cursor: pointer;
    font-weight: bold;
    color: #36a9e2;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-submit-btn button {
    background: #36a9e2;
    padding: 14px;
    width: 100%;
    color: #fff;
    outline: none;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p {
    text-align: center;
}

#form-signup {
    display: none;
}

#form-signup section.section-login .section-main .section-login-1,
#form-signup section.section-login .section-login-2 {
    background: #3bb88c !important;
}

#form-signup section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-submit-btn button {
    background: #3bb88c;
}

#form-signup section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p a,
#form-signup section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p span {
    color: #3bb88c;
}

@media only screen and (max-width: 1200px) {

    /* login page */
    main section.section-login .section-login-1 .section-login-1-main,
    main section.section-login .section-login-2 .section-login-2-main {
        width: 85%;
    }

    main section.section-login .section-login-1 .section-login-1-main .section-login-1-title,
    main section.section-login .section-login-1 .section-login-1-main .section-login-1-form {
        margin-top: 35px;
    }

    main section.section-login .section-main {
        width: 75%
    }

}

@media only screen and (max-width: 900px) {

    /* login page */
    main section.section-login .section-main {
        padding: 35px 0px;
    }

    main section.section-login .section-login-1 .section-login-1-main,
    main section.section-login .section-login-2 .section-login-2-main {
        width: 90%;
    }

    main section.section-login .section-login-1 .section-login-1-main {
        height: 90%;
    }

    main section.section-login .section-login-1 .section-login-1-main .section-login-1-title,
    main section.section-login .section-login-1 .section-login-1-main .section-login-1-form {
        margin-top: 25px;
    }

    main section.section-login .section-main {
        flex-direction: column;
        width: 75%;
        padding: 50px 0px;
    }

    main section.section-login .section-main .section-login-1,
    main section.section-login .section-login-2 {
        width: 100%;
    }

    main section.section-login {
        height: unset;
    }
}

@media only screen and (max-width: 600px) {
    main section.section-login .section-main {
        width: 100%;
        padding: 0px;
    }

    main section.section-login .section-main .section-login-2 .section-login-2-main {
        padding: 35px 25px;
    }
}


/* --------- Dasboard CSS --------- */

.main {
    background-color: #f1f1f1;
    width: 100%;
    display: flex;
}

.sidebar {
    /* height: 100vh; */
    width: 200px;
    background: #36A9E2;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.content {
    width: calc(100% - 200px);
    transition: all 0.5s ease-in-out;
}

header {
    background: #3BB88C;
    padding: 10px;
    display: flex;
    align-items: center;
}

header i.fa-bars {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
}

.main.close .sidebar {
    width: 0px;
}

.main.close .content {
    width: 100%;
}

.side_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding-top: 20px;
}

.side_links ul {
    list-style: none;
}

.side_links ul li {
    padding: 12px 0px;
    border-bottom: 1px solid white;
}
.side_links ul li a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.dash_cont h2 {
    text-align: center;
    margin-top: 40px;
}

/* Todo App Styling */

/* Basic Style */
.todoApp .container {
    color: #333;
	font-family: Lato, sans-serif;
	display: block;
	width: 400px;
	margin: 10px auto 100px;
	background-color:#fff;
	padding:0px 10px 10px 10px;
	border-radius:10px
}

.todoApp h2 {
	text-align:center;
	padding-top:10px;
	margin-bottom:0px;
}

.todoApp ul {
	margin: 0;
	padding: 0;
}

.todoApp li * {
	float: left;
}

.todoApp li,
.todoApp h3 {
	clear: both;
	list-style: none;
}

.todoApp input,
.todoApp button {
	outline: none;
}

.todoApp button {
	background: none;
	border: 0px;
	color: #888;
	font-size: 15px;
	width: 60px;
	margin: 10px 0 0;
	font-family: Lato, sans-serif;
	cursor: pointer;
}

.todoApp button:hover {
	color: #333;
}

.todoApp form input#todoInp {
    height: 30px;
    margin: 1rem;
}


/* Heading */

.todoApp h3,
.todoApp label[for='new-task'] {
	color: #333;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 2px solid #333;
	padding: 20px 0 10px;
	margin: 0;
	text-transform: uppercase;
}

.todoApp input[type="text"] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	font-family: Lato, sans-serif;
	color: #888;
}

.todoApp input[type="text"]:focus {
	color: #333;
}


/* New Task */

.todoApp label[for='new-task'] {
	display: block;
	margin: 0 0 20px;
}

.todoApp input#new-task {
	float: left;
	width: 318px;
}

.todoApp p > button:hover {
	color: #0FC57C;
}


/* Task list */

.todoApp li {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.todoApp li > input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 15px;
}

.todoApp li > label {
	font-size: 18px;
	line-height: 40px;
	width: 237px;
	padding: 0 0 0 11px;
}

.todoApp li > input[type="text"] {
	width: 226px;
}

.todoApp li > .delete:hover {
	color: #CF2323;
}


/* Completed */

.todoApp #completed-tasks label {
	text-decoration: line-through;
	color: #888;
}


/* Edit Task */

.todoApp ul li input[type=text] {
	display: none;
}

.todoApp ul li.editMode input[type=text] {
	display: block;
}

.todoApp ul li.editMode label {
	display: none;
}